In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
food_data = pd.read_csv("/Users/hp/Desktop/Gitdoc/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
food_data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [8]:
food_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [9]:
food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [14]:
food_data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [29]:
food_data.groupby('Area')['Y2017','Area'].sum().rank()

C:\Users\hp\AppData\Local\Temp\ipykernel_6952\2245358014.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data.groupby('Area')['Y2017','Area'].sum().rank()

                             Y2017
Area
Algeria                       43.0
Angola                        38.0
Benin                         29.0
Botswana                       9.0
Burkina Faso                  26.0
Cabo Verde                     6.0
Cameroon                      39.0
Central African Republic      15.0
Chad                          21.0
Comoros                        3.0
Congo                         16.0
CÃ´te d'Ivoire                 37.0
Djibouti                      10.0
Egypt                         48.0
Eswatini                      19.0
Ethiopia                      46.0
Ethiopia PDR                   1.5
Gabon                         12.0
Gambia                        11.0
Ghana                         44.0
Guinea                        25.0
Guinea-Bissau                  7.0
Kenya                         41.0
Lesotho                        8.0
Liberia                       13.0
Madagascar                    31.0
Malawi                        35.0
Mali                          32.0
Mauritania                    33.0
Mauritius                     18.0
Morocco                       45.0
Mozambique                    34.0
Namibia                       14.0
Niger                         30.0
Nigeria                       49.0
Rwanda                        22.0
Sao Tome and Principe          5.0
Senegal                       24.0
Seychelles                     4.0
Sierra Leone                  20.0
South Africa                  47.0
Sudan                         40.0
Sudan (former)                 1.5
Togo                          17.0
Tunisia                       28.0
Uganda                        36.0
United Republic of Tanzania   42.0
Zambia                        27.0
Zimbabwe                      23.0

In [42]:
food_data.groupby('Element')['Element','Y2017'].sum()

C:\Users\hp\AppData\Local\Temp\ipykernel_6952\916319770.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data.groupby('Element')['Element','Y2017'].sum()

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00

In [44]:
food_data['Area'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "CÃ´te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [48]:
food_data.groupby('Element')['Element','Y2018','Y2017','Y2016','Y2015','Y2014'].sum()

C:\Users\hp\AppData\Local\Temp\ipykernel_6952\2047920845.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data.groupby('Element')['Element','Y2018','Y2017','Y2016','Y2015','Y2014'].sum()

,Y2018,Y2017,Y2016,Y2015,Y2014
Element,,,,,
Domestic supply quantity,2161192.10,2088198.10,2044842.70,2021493.55,1996716.35
Export Quantity,181594.80,182338.80,151920.46,157614.47,150020.64
Fat supply quantity (g/capita/day),10258.69,10253.84,10102.77,10235.74,10225.56
Feed,233489.68,223705.68,228958.65,225050.22,216927.89
Food,1303841.28,1258888.28,1247022.17,1232361.10,1212332.49
Food supply (kcal/capita/day),455261.00,454681.00,451810.00,453383.00,454257.00
Food supply quantity (kg/capita/yr),49056.85,48690.04,48985.28,49345.13,49650.63
Import Quantity,287997.09,294559.09,286582.78,267018.46,274144.48
Losses,163902.00,160614.00,157787.00,155439.00,153223.00
Other uses (non-food),91300.97,91645.97,69563.68,66254.41,78718.13
Processing,308429.00,292836.00,280631.00,287929.00,282923.00
Production,2075072.89,2030056.89,1943537.15,1947019.39,1931287.75
Protein supply quantity (g/capita/day),11833.56,11842.45,11779.69,11833.95,11836.46
Residuals,34864.00,35500.00,37224.00,30045.00,30149.00
Seed,25263.14,24870.14,23389.20,23976.82,21922.92
Stock Variation,20577.91,54316.91,33140.12,34910.99,58749.83
Total Population - Both sexes,1140605.00,1112641.00,1085107.00,1058081.00,1031585.00
Tourist consumption,90.00,91.00,89.00,349.00,416.00

In [50]:
food_data.groupby('Area')['Area','Y2017'].sum().rank()

C:\Users\hp\AppData\Local\Temp\ipykernel_6952\289241520.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data.groupby('Area')['Area','Y2017'].sum().rank()

                             Y2017
Area
Algeria                       43.0
Angola                        38.0
Benin                         29.0
Botswana                       9.0
Burkina Faso                  26.0
Cabo Verde                     6.0
Cameroon                      39.0
Central African Republic      15.0
Chad                          21.0
Comoros                        3.0
Congo                         16.0
CÃ´te d'Ivoire                 37.0
Djibouti                      10.0
Egypt                         48.0
Eswatini                      19.0
Ethiopia                      46.0
Ethiopia PDR                   1.5
Gabon                         12.0
Gambia                        11.0
Ghana                         44.0
Guinea                        25.0
Guinea-Bissau                  7.0
Kenya                         41.0
Lesotho                        8.0
Liberia                       13.0
Madagascar                    31.0
Malawi                        35.0
Mali                          32.0
Mauritania                    33.0
Mauritius                     18.0
Morocco                       45.0
Mozambique                    34.0
Namibia                       14.0
Niger                         30.0
Nigeria                       49.0
Rwanda                        22.0
Sao Tome and Principe          5.0
Senegal                       24.0
Seychelles                     4.0
Sierra Leone                  20.0
South Africa                  47.0
Sudan                         40.0
Sudan (former)                 1.5
Togo                          17.0
Tunisia                       28.0
Uganda                        36.0
United Republic of Tanzania   42.0
Zambia                        27.0
Zimbabwe                      23.0